<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>dxctf investigation</title>

    <style>
      body{
        margin:0;
        background:black;
        overflow:hidden;
      }
    </style>
  </head>

  <body>
    <slot />
  </body>
</html>

